.logo {
  margin: 10px 0;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
}

.light {
  color: #ffffff;
}

.dark {
  color: #606060;
}
