.preview {
  max-width: 200px;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  font-weight: 100;
}

.idx {
  color: #aaa;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.reason {
  margin-left: 0.2rem;
  color: gray;
  font-size: 1.3rem;
  text-align: center;
}
