.searchBarWrapper {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 258px;
}

.inputFieldWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  label {
    color: #606060;
    font-size: 1rem;

    letter-spacing: 0.5px;
  }

  input {
    border: none;
    border-bottom: 2px solid #d6d6d6;
    font-size: 1.875rem;
    line-height: normal;

    &::placeholder {
      color: #adadad;
      opacity: 1;
      line-height: normal !important;
    }

    &:focus {
      outline: none;
    }
  }
}
